{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ sortie.nom }}</h1>

        <div>
            {% if sortie.dateHeureDebut is date %}
                <p>Date et heure: {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            {% endif %}
            {% if sortie.dateLimiteInscription is date %}
                <p>Date limite d'inscription: {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
            {% endif %}
            <p>Nombre de places: {{ sortie.nbInscriptionsMax }}</p>
            <p>Durée: {{ sortie.duree }} minutes</p>
            <p>Description: {{ sortie.infosSortie }}</p>
            <p>Informations: {{ sortie.infos }}</p>
            <p>Campus: {{ sortie.lieu.campus.nom }}</p>
            <p>Lieu: {{ sortie.lieu.nom }}</p>
            <p>Adresse: {{ sortie.lieu.adresse }}</p>
            <p>Code postal: {{ sortie.lieu.codePostal }}</p>
            <p>Latitude: {{ sortie.lieu.latitude }}</p>
            <p>Longitude: {{ sortie.lieu.longitude }}</p>
        </div>

        <h2>Participants ({{ sortie.participants|length }})</h2>
        <ul>
            {% for participant in sortie.participants %}
                <li>{{ participant.nom }} {{ participant.prenom }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
