{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/form.css') }}">{% endblock %}
{% block title %}


    Créer une sortie | {{ parent() }}


{% endblock %}


{% block body %}

    <div class="titre_creation">
        <h1>Créer une sortie</h1>
    </div>

    <div class="formulaire_creation">
    {{ form_start(creerSortieForm) }}
    {{ form_row(creerSortieForm.nom) }}
    {{ form_row(creerSortieForm.dateHeureDebut) }}
    {{ form_row(creerSortieForm.duree) }}
    {{ form_row(creerSortieForm.dateLimiteInscription) }}
    {{ form_row(creerSortieForm.nbInscriptionsMax) }}
    {{ form_row(creerSortieForm.infosSortie) }}
    {{ form_row(creerSortieForm.etat) }}
    {{ form_row(creerSortieForm.lieu) }}
    </div>

    <div class="bouton_valider">
    <button type="submit" class="btn">Enregistrer</button>
    <button type="submit" class="btn">Publier la sortie</button>
    <button type="submit" class="btn">Annuler</button>
    </div>


    {{ form_end(creerSortieForm) }}


{% endblock %}


