{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/sortie.css') }}">{% endblock %}
{% block title %}Désister de la sortie "{{ sortie.titre }}"{% endblock %}

{% block body %}
    <h1 class="titre_profil">Désistement de la sortie {{ sortie.titre }}</h1>

    <p>Voulez-vous vraiment vous désister de la sortie "{{ sortie.titre }}" ?</p>

    <form method="post">
        <div class="form-group">
            <label for="motif">Motif d'annulation :</label>
            <textarea class="form-control" id="motif" name="motif" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Confirmer le désistement</button>
    </form>


    <a href="{{ path('afficher_Sortie', {'id': sortie.id}) }}">Annuler</a>
{% endblock %}
