<img style="width: 100px" height="150px" class="logo" src="{{ asset('img/logo.jpg') }}" alt="Logo du site">
<ul class="nav">
    <li class="nav-link"><a href="{{ path('app_lieu_modifier_Ville') }}" title="Villes">Villes</a></li>
    <li class="nav-link"><a href="{{ path('app_campus') }}" title="Campus">Campus</a></li>
    <li class="nav-link"><a href="{{ path('app_home') }}" title="Accueil">Accueil</a></li>
    {% if app.user %}
        <li class="nav-link"><a href="{{ path('app_utilisateur') }}" title="Mon Profil">Mon Profil</a></li>
        <li class="nav-link"><a href="{{ path('app_logout') }}" title="Déconnexion">Se déconnecter</a></li>
        <li class="nav-link"><a href="{{ path('creer_Sortie') }}" title="Créer une sortie">Créer une sortie</a></li>
    {% endif %}
            <li class="nav-link"><a href="{{ path('modifier_Sortie', {'id': sortie.id}) }}" title="Modifier une sortie">Modifier une sortie</a></li>
            <li class="nav-link"><a href="{{ path('afficher_Sortie', {'id': sortie.id}) }}" title="Afficher une sortie">Afficher une sortie</a></li>

        <li class="nav-link"><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a></li>
        <li class="nav-link"><a href="{{ path('app_register') }}" title="Créer compte">Créer un compte</a></li>

</ul>