extends 'base.html.twig' %}
{% block title %}Gestion Ville{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/lieu.css') }}"
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

    <h1>Gérer les lieux</h1>
    <body>
    <h2>Filtrer les lieux</h2>
    <div>
        <form name="nom">
            <label for="nom">  </label>
            <input type="text" id="nom" name="nom">
            <button type="submit" name="nom">Rechercher</button>
        </form>
    </div>
    <table class="table-lieux">
        <thead>
        <tr>
            <th scope="col">Lieu</th>
            <th scope="col" class="col_2">Nom</th>
            <th scope="col">Rue</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Ville</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td class="col_2">{{ ville.codePostal }}</td>
                <td>
                    <!--<button class="btn btn-link">Modifier</button>-->
                    <a class="btn btn-link" href="{{ path('app_lieu_supprimer_ville', {'id': ville.id})}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
        <tr>
            <td>{{ form_row(form.nom) }}</td>
            <td class="col_2">{{ form_row((form.codePostal)) }}</td>
            <td><button type="submit" class="btn btn-link">Ajouter</button></td>
        </tr>
        {{ form_end(form) }}
        </tbody>
    </table>

    </body>
{% endblock %}